.wrap {
    position: static;
}

.header {
    position:absolute;
}

.container {
    position: relative;
}

#bigphoto {
    position: relative;
    height:100vh;
    width: 100%;
}

.footer {
    position: relative;
    height: 30px;
    width:100%;
    background-color: black;
    color:red;
}

.imgg {
    width: 100%;
    height:100vh;
    opacity: 0.7;
    z-index: -1;
}

#mbutton {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index:20;
    cursor: pointer;
}

#gotopbutton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index:20;
    cursor: pointer;
}

#heart_icon{
    cursor: pointer;
}

.titlefont {
    font-size: 600%;
    font-weight: 900;
    font-family: cursive,monospace,serif,sans-serif;
    color:#FFFAFA;
}

.sectionfont {
    font-size: 400%;
    font-weight: 900;
    font-family: cursive,monospace,serif,sans-serif;
}


.centerized{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important; 
}
.centerAligned{
    text-align: center !important;
}

.rightAligned{
    text-align: right !important;
}


*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


@media screen and (min-width: 1280px) {

    #home {
        position: relative;
        height:100vh;
        width: 100%;
        background-color: black;

        -o-transition: background-color 1.110s linear;
        -webkit-transition: background-color 1.110s linear;
        -moz-transition: background-color 1.110s linear;
        transition: background-color 1.110s linear;
    }

    #home:hover {
        background-color: #9370DB;
    }

    #home #title:hover{
        background-color:yellow;
        color: red; 
    }

    #home #title0 {
        position: relative;
        top:20%;
        width: 100%;
        height: 400px;
    }

    #home #title {
        position: relative;
        top:1%;
        width: 100%;
        height: 400px;
        -ms-transform: rotate(7deg); /* IE 9 */
        -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
        transform: rotate(7deg);

        -o-transition: color,background-color 1.110s linear;
        -webkit-transition: color,background-color 1.110s linear;
        -moz-transition: color,background-color 1.110s linear;
        transition: color,background-color 1.110s linear;
    }

    #section1 {
        position: relative;
        height:50vh;
        width: 100%;
        background-color: #FFE4B5;
    }

    #who_are_we {
        position: relative;
        height:110vh;
        width: 100%;
        background-color: #40E0D0;
    }

    #section2 {
        position: relative;
        height:50vh;
        width: 100%;
    }


    #section1 #section1_1 {
        position: absolute;
        top:25%;
        right:40%;
        height: 40%;
        width: 100%;
    }

    #section1 #section1_2 {
        position: absolute;
        top:60%;
        left: 45%;
        height: 40%;
        width: 100%;
    }

    #section2 #section2_1 {
        position: absolute;
        top:25%;
        right:45%;
        height: 40%;
        width: 100%;
    }

    #section2 #section2_2 {
        position: absolute;
        top:60%;
        left: 50%;
        height: 40%;
        width: 100%;
    }

    #section3 {
        position: relative;
        height:50vh;
        width: 100%;
        background-color: #E0FFFF;
    }

    #section3 #section3_1 {
        position: absolute;
        top:25%;
        right:13%;
        height: 40%;
        width: 100%;
    }

    #section3 #section3_2 {
        position: absolute;
        top:60%;
        left: 15%;
        height: 40%;
        width: 100%;
    }

    #our_stroy{
        position: relative;
        width: 100%;
    }

}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    #home {
        position: relative;
        height:50vh;
        width: 100%;
        background-color: black;

        -o-transition: background-color 1.110s linear;
        -webkit-transition: background-color 1.110s linear;
        -moz-transition: background-color 1.110s linear;
        transition: background-color 1.110s linear;
    }

    #home:hover {
        background-color: #9370DB;
    }

    #home #title0 {
        position: relative;
        top:20%;
        width: 100%;
        height: 300px;
    }

    #home #title {
        position: relative;
        width: 100%;
        height: 300px;
    }

    #section1 {
        position: relative;
        height:50vh;
        width: 100%;
        background-color: #FFE4B5;
    }

    #who_are_we {
        position: relative;
        height:70vh;
        width: 100%;
        background-color: #40E0D0;
    }

    #section2 {
        position: relative;
        height:50vh;
        width: 100%;
    }


    #section1 #section1_1 {
        position: absolute;
        top:25%;
        right: 5%;
        height: 40%;
        width: 100%;
    }

    #section1 #section1_2 {
        position: absolute;
        top:60%;
        left: 5%;
        height: 40%;
        width: 100%;
    }

    #section2 #section2_1 {
        position: absolute;
        top:25%;
        right: 10%;
        height: 40%;
        width: 100%;
    }

    #section2 #section2_2 {
        position: absolute;
        top:60%;
        left: 10%;
        height: 40%;
        width: 100%;
    }

    #section3 {

        display: none;
    }

    #section3 #section3_1 {
        display: none;
    }

    #section3 #section3_2 {
        display: none;
    }

    #our_stroy{
        position: relative;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
     #home {
        position: relative;
        height:50vh;
        width: 100%;
        background-color: black;

        -o-transition: background-color 1.110s linear;
        -webkit-transition: background-color 1.110s linear;
        -moz-transition: background-color 1.110s linear;
        transition: background-color 1.110s linear;
    }

    #home:hover {
        background-color: #9370DB;
    }

    #home #title0 {
        position: relative;
        top:0%;
        visibility: hidden;
    }

    #home #title {
        position: relative;
        top:20%;
        width: 100%;
        height: 100px;
        font-size: 30px;
    }

    #section1 {
        position: relative;
        height:0vh;
        width: 100%;
        background-color:white;
    }

    #who_are_we {
        position: relative;
        height:170vh;
        width: 100%;
        background-color: #40E0D0;
    }

    #section2 {
        position: relative;
        height:0vh;
        width: 100%;
    }


    #section1 #section1_1 {
        visibility: hidden;
        color: white;
        z-index: -3;
    }

    #section1 #section1_2 {
        visibility: hidden;
        color: white;
        z-index: -3;
    }

    #section2 #section2_1 {
        visibility: hidden;
        color: white;
        z-index: -3;
    }

    #section2 #section2_2 {
        visibility: hidden;
        color: white;
        z-index: -3;
    }

    #section3 {
        display: none;
    }

    #section3 #section3_1 {
        display: none;
    }

    #section3 #section3_2 {
        display: none;
        
    }

    #our_stroy{
        position: relative;
        width: 100%;
    }
}
